<footer>
	<ul class="list-inline contact">
		<li class="list-inline-item">
			<a
				href="https://github.com/EmilyBonar"
				class="badge badge-dark py-2 px-2"
				target="blank"
				aria-label="Emily Bonar's GitHub Profile"
				rel="noreferrer"
				>GitHub</a
			>
		</li>
		<li class="list-inline-item">
			<a
				href="https://www.linkedin.com/in/emily-bonar-36824b9b/"
				class="badge badge-primary py-2 px-2"
				target="blank"
				aria-label="Emily Bonar's LinkedIn Profile"
				rel="noreferrer"
				>LinkedIn</a
			>
		</li>
		<li class="list-inline-item">
			<a
				href="https://dev.to/emilybonar"
				class="badge badge-dark py-2 px-2"
				target="blank"
				aria-label="Emily Bonar's DEV Profile"
				rel="noreferrer"
				>DEV</a
			>
		</li>
		<li class="list-inline-item">
			<a
				href="mailto: contact@emilybonar.com"
				class="badge badge-dark py-2 px-2"
				target="blank"
				aria-label="Emily Bonar's Email"
				rel="noreferrer"
				>Email</a
			>
		</li>
	</ul>
</footer>
